@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Body background and default text */




/* Box sizing */


/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Default text and headings */
h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}
